a {
    text-decoration: none;
}

.history {
    background-color: var(--black-color);
    padding: 30px 0;
    min-height: 600px;

    h3 {
        font-size: 3rem;
        font-weight: 500;
        line-height: 1.5;
        color: var(--white-color);
        padding: 0 0 40px 20px;
    }
}

.movie-item {
    max-width: 290px;
    width: 100%;
}

.movie-img img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin: 0 auto;
    border-radius: 8px;
}

.history-box {
    height: 400px;
}

.movie-desc {
    width: 100%;
    padding-top: 10px;

    h5 {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 1.4;
        color: var(--white-color);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.5;
        color: var(--text-color);
        padding: 15px 0;
    }

    strong {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.4;
        color: var(--white-color);
        padding: 5px 0;
        display: flex;
        align-items: center;
        gap: 10px;

        button {
            font-size: 1.4rem;
            font-weight: 500;
            width: 70px;
            height: 30px;
            border-radius: 4px;
            color: var(--white-color);
            background-color: #00bb4c;
        }
    }

    .btn-play {
        text-decoration: none;
        text-align: center;
        display: block;
        width: 100%;
        height: 35px;
        padding-top: 6px;
        margin-top: 30px;
        background-color: var(--button-color);
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.4;
        color: var(--white-color);
        border-radius: 4px;

        &:hover {
            background-color: #c1111a84;
        }
    }
}

.no-history {
    display: block;
    padding-top: 90px;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.3;
    color: var(--text-color);
}

/* Responsive Styles */
@media (max-width: 767.98px) {
    .movie-desc {
        .btn-play {
            max-width: 330px;
        }
    }
}
