.icon {
    display: none !important;
    position: absolute;
    top: calc(50% - 60px);
    z-index: 2;
    right: 120px;
    color: var(--button-color);
}

.movie-item {
    position: relative;
    background-color: var(--black-color);
    width: 260px;
    border-radius: 4px;
    margin: 0 auto 50px auto;

    img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        margin: 0 auto;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    a {
        text-decoration: none;
    }

    &:hover .icon {
        opacity: 0.8;
        transition: ease-in 2s linear;
        display: block !important;
    }

    &:hover {
        transform: scale(1.1);
        opacity: 0.8;
    }
}

.movie-desc {
    .movie-title {
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.3;
        color: var(--white-color);
        display: block;
        max-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-box-orient: vertical;
        padding: 10px;
    }

    .total-view {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 5px;
        margin-top: 10px;
        padding-right: 5px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.4;
        color: var(--white-color);

        .view-icon {
            font-size: 2rem;
        }
    }

    &:hover {
        display: block;
    }
}

.movie-status {
    position: absolute;
    background-color: var(--button-color);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    top: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.3;
    color: var(--white-color);
    display: block;
    padding: 5px 20px;
}
