.wrapper {
    padding: 30px 0 50px 80px;
    min-height: 100vh;
    
    .heading {
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 2;
        color: var(--white-color);
    }
    
    .dashboard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-top: 10px;
    }
}

.dashboard-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 80px;
    background-color: var(--black-color);
    border: 1px solid var(--box-color);
    padding: 40px 0 30px 0;

    .icon {
        font-size: 4rem;
        color: var(--white-color);
    }

    strong {
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 1.7;
        color: var(--white-color);
    }

    b {
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: var(--text-color);
    }
}

.chart {
    margin-top: 10px;
    background-color: var(--black-color);
}